asgiref==3.8.1
attrs==23.2.0
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.7
geographiclib==2.0
geopy==2.4.1
idna==3.7
numpy==2.0.0
pandas==2.2.2
platformdirs==4.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
sqlparse==0.5.1
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
